html {
  font-size: 62.5%;

}

body {
    height: 100vh;
    width: 100vw;
    background-color: #f1f1f1;


}

h1 {
    font-size: 18rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;

    color: #FEFDF8;
    letter-spacing: .2rem;
}

h2 {
font-family: 'Montserrat', sans-serif;
color:  #FEFDF8;
font-size: 12rem;
letter-spacing: .2rem;
font-weight: 400;
}

p {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: .2rem;
  font-weight: 400;
  line-height: 1.5;
  font-size: 6rem;
  color: #FEFDF8;
}

.aboutMeTitle{
font-family: 'Montserrat', sans-serif;
color:  black;
font-size: 12rem;
letter-spacing: .3rem;
font-weight: 550;
}

.aboutMe {
  font-family: 'Open-Sans', sans-serif;
  letter-spacing: .3rem;
  font-weight: 525;
  margin-left: 5%;
  margin-right: 5%;
  line-height: 1.5;
  font-size: 5rem;
  color: black;
  text-align: justify;
}
.container {
  height: 100vh;
  width: 100vw;
  background-color: #f1f1f1;
  }

.Seth {
  height: 25%;
  width: 45%;
  border-radius: 66%;
  }


.landing {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  overflow-x: visible;
  position: top;
  background-position-y: top;

  background-color: #3D3D81;

}

.landingBlurb {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .2rem;
  font-weight: 400;
  margin-top: -10%;
  font-size: 7em;
  color: #FEFDF8;
  text-align: center;

}

.icons{
  color: #FEFDF8;
  display: inline;
  letter-spacing: 3rem;
  font-size: 12rem;
}

.skillsIcons {
  color: #3D3D81;
  display: inline;
  line-height: 2.5;
  letter-spacing: 3rem;
  font-size: 20rem;
}

.pageDown {
  color: #FEFDF8;
  font-size: 13em;
  margin-top: 10%;
}
