/*global section*/
html {
  font-size: 62.5%;
  width: 100vw;
  height: 100vh;
}

* {
  margin: 0%;
  padding: 0%;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #495867;
}

h1 {
  font-size: 7rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  color: #FEFDF8;
  letter-spacing: .2rem;
  margin-top: 40%;
  padding-bottom: 1%;
}

h2 {
  color: #495867;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 5rem;
  letter-spacing: .2rem;
  font-weight: 400;
}

p {
  font-family: 'Lato', sans-serif;
  margin-top: -5%;
  margin-left: 5%;
  margin-right: 5%;
  line-height: 1.5;
  font-size: 1.5rem;
  color: #495867;
  text-align: left;
  padding-bottom: 5%;
  font-weight: 500;
}

footer {
  letter-spacing: 1.25rem;
  font-size: 4rem;
  text-align: center;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  color: #FE5F55;
}

/* landing section */
.landing {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  overflow-x: hidden;
  position: relative;
  background-position-y: top;
  background-color: #495867;
}

.landing_jobtitle {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: .2rem;
  font-weight: 400;
  margin-top: 5.5%;
  font-size: 2.5rem;
  color: #BDD5EA;
  text-align: center;
}

.landing_icons{
  letter-spacing: 1.25rem;
  font-size: 4rem;
  text-align: center;
  margin-top: 5.5%;
  color: #FE5F55;
}

.landing_pagedown {
  color: #FE5F55;
  font-size: 4rem;
  margin-top: 15%;
}

/* general purpose section */
.wrapper {
  background-color: #f1f1f0;
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;
}

.card {
  background-color: #ffffff;
  margin-top: 10%;
  margin-left: 6.5%;
  margin-right: 6.5%;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.section_title {
  margin-top: 15%;
  color: #495867;
  font-size: 4rem;
}

.images {
  height: 80%;
  width: 95%;
  padding-top: 2.5%;
  padding-bottom: 10%;
  display: block;
  margin: 0 auto;
  }


  .myButton {
    background-color:#FE5F55;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #FEFDF8;
    display:inline-block;
    cursor:pointer;
    color:#FEFDF8;
    font-weight: 700;
    letter-spacing: .2rem;
    font-family: 'Lato', sans-serif;
    font-size:1.25em;
    padding:2.5% 2.5%;
    margin-top: -5%;
    margin-bottom: 5%;
    text-decoration:none;

  }
  .myButton:hover {
  background-color:#FE5F55
  }
  .myButton:active {
  position:relative;
  top:1px;
  }


/* about section */
  .about {
    margin-top: -5%;
  }

/* skills section */
.skills_icons {
  letter-spacing: 1rem;
  font-size: 6rem;
  line-height: 2;
  margin-top: 10%;
  color: #FE5F55;
  text-shadow: 1px 1px 1.5px rgba(0,0,0,0.2);
}

.icons{
  letter-spacing: 2rem;
  font-size: 4rem;
  text-align: center;
  margin-top: 10%;
  color: #FE5F55;
}

/* project section */
.project_title {
  color: #495867;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  padding-top: 5%;
  font-size: 3.5rem;
  letter-spacing: .2rem;
  font-weight: 400;
}
.project_description {
  font-family: 'Lato', sans-serif;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  line-height: 1.5;
  font-size: 1.5rem;
  color: #495867;
  text-align: left;
  padding-bottom: 5%;
  font-weight: 500;
}


/* ( ͡° ͜ʖ ͡°) "I once was lost, but now there's lenny" */
